.chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  height: 560px;
}

.box-part {
  background: rgb(248, 225, 205);
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  width: 80vh;
  height: 58vh;
}

.box-part:hover {
  background: #4183d7;
}
