.statisticchart {
  margin-left: auto;
  display: block;
  margin-right: auto;
  width: 560px;
  height: 560px;
}
.statistic-box-part {
  background: rgb(248, 225, 205);
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  width: 80vh;
  height: 58vh;
}
.maximise-box-part {
  background: rgb(248, 225, 205);
  width: 1000px;
  height: 880px;
}
