.box {
  height: 120vh;
  width: 147vh;
  padding-left: 33px;
  background-color: rgb(248, 225, 205);
}
.topbar {
  width: 148.5vh;
  height: 8vh;
  background-color: black;
  margin-left: -5vh;
}
.selectionbar {
  width: 27vh;
  background-color: black;
  height: 113vh;
  right: -0;
  position: absolute;
  margin-top: -73.2vh;
}
.dropdown {
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
  color: white;
}
.timeselection {
  background-color: rgb(94, 92, 92);
  color: black;
}
.charttype {
  background-color: rgb(94, 92, 92);
  color: black;
}
.button {
  margin-left: 15px;
  margin-top: 10px;
}
