.box {
  height: 120vh;
  width: 147vh;
  padding-left: 33px;
  background-color: rgb(248, 225, 205);
}
.topbar {
  width: 178vh;
  height: 9vh;
  background-color: black;
}
.selectionbar {
  width: 27vh;
  background-color: black;
  height: 112vh;
  right: -5vh;
  position: absolute;
}
.dropdown {
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
  color: white;
}
.timeselection {
  background-color: rgb(94, 92, 92);
  color: black;
}
.charttype {
  background-color: rgb(94, 92, 92);
  color: black;
}
.button {
  margin-left: 15px;
  margin-top: 10px;
}
.analysis-box-part {
  background: rgb(248, 225, 205);
  width: 153vh;
  height: 111vh;
  position: absolute;
}
