.sidebar {
    width: 24vh;
    background-color: black;
    height: 100vh
}

.fontColor{
    color: whitesmoke;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }